<h2>Editar dados</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Senha" %> 
  <%= f.password_field :password, :autocomplete => "off" %> <a href="rel="tooltip" title="deixe em branco se não quiser mudar">(deixe em branco se não quiser mudar)</a></div>

  <div><%= f.label :password_confirmation, "Confirmação de senha" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Senha atual" %>
  <%= f.password_field :current_password %> <a href="#" rel="tooltip" title="precisamos de sua senha atual para confirmar suas alterações">(precisamos de sua senha atual para confirmar suas alterações)</a></div>

  <div><%= f.submit "Salvar", :class => 'btn btn-primary' %></div>
<% end %>

<hr />

<h3>Cancelamento de conta</h3>

<p>Não está contente com nossos serviços? </p>
<p><%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Você tem certeza?", :method => :delete, :class => 'btn btn-danger btn-mini' %>.</p>

<%= link_to "Voltar", :back %>
