<% unless post.attachments.blank? %>
  <div class='image'><%= link_to(image_tag(post.attachments.first.file_url(:small)), post_path(post)) %></div>
<% else %>
  <div class='image'><div class='no_image'>Sem <br />imagem</div></div>
<% end %>
  <p class='listing-title'><%= link_to post.title, post_path(post) %>&nbsp;&nbsp;<%= label_for_status(post.status) if labels.present? %>
</p>
  <p class='listing-price'><%= number_to_currency(post.price, :unit => "¥", :precision => 0, :delimiter => ".")%></p>
  <p class='listing-summary'><%= truncate(post.description, :length => 120, omission: '.. (continue)' ) %></p>
  <p class='listing-timestamp'>Enviado há <%= time_ago_in_words(post.created_at) %></p>
  <hr />
