<% provide(:title, "Login") %>
<div class="page header">
  <h1>Login</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email, "Email" %>
  <%= f.email_field :email %></p>

  <p><%= f.label :password, "Senha" %>
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar minha senha" %></div>
  <% end -%>

  <div><%= f.submit "Entrar", :class => 'btn btn-primary' %></div>
<% end %>

<%= render "links" %>
</div>
