<%= nested_form_for @post, :html => { :multipart => true, 	:class => 'form-vertical' } do |f| %>
  <fieldset>
    <legend><%= params[:action] == 'new'? 'Novo' : 'Editar' %> anúncio</legend>

    <% if @post.errors.any? %>
        <div class="error_explanation">
            <h2><%= I18n.translate('activerecord.errors.template.header', {:count => @post.errors.count, :model => @post.class}) %></h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :title, "Título", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span5' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :description, "Descrição", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area span5', :rows => 10 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :price, "Valor em ienes", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'text_field', :value => number_with_precision(f.object.price, :precision => 0) %>
      </div>
    </div>

  <h3>Informações sobre o veículo</h3>

   <div class="control-group">
      <%= f.label :prefecture, "Localização", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :prefecture, Post::PREFECTURES, :prompt => "Selecione sua Prefeitura" , :class => 'text_field'  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :year, "Ano de Fabricação", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :year, :class => 'text_field span1' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :shaken_validation, "Validade do Shaken", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :shaken_validation, :class => 'text_field span2' %>
      </div>
    </div>

   <div class="control-group">
      <%= f.label :makes, "Fabricante", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :makes, Post::MAKES_SORT, :class => 'text_field' %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :model, "Modelo", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :model, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :displacement, "Km / l", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :displacement, :class => 'text_field span1' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mileage, "Kilometragem", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mileage, :class => 'text_field span1' %>
      </div>
    </div>

   <div class="control-group">
      <%= f.label :engine, "Motor (cc)", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :engine, :class => 'text_field span1' %>
      </div>
    </div>

   <div class="control-group">
      <%= f.label :transmission, "Câmbio", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :transmission, Post::TRANSMISSION, :class => 'text_field' %>
      </div>
    </div>

   <div class="control-group">
      <%= f.label :fuel, "Combustível", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :fuel, Post::FUEL, :class => 'text_field' %>
      </div>
    </div>
  
  <h3>Informações para contato</h3>
    <div class="control-group">
      <%= f.label :contact_info, "Nome, telefone, horários, email, etc", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :contact_info, :class => 'text_area span5', :rows => 5 %>
      </div>
    </div>


  <h3>Fotos do veículo</h3>
  <em>* limite de 3 fotos</em>

  <%= f.fields_for :attachments do |attachment_form|  %>
    <div class="control-group">
      <%= attachment_form.label :file, "Arquivo", :class => 'control-label' %>
      <div class="controls">
        <%= image_tag attachment_form.object.file_url(:small) if attachment_form.object.file? %><br />
        <%= attachment_form.link_to_remove "Remover a imagem acima" %><br />ou
        <%= attachment_form.file_field :file, :class => 'input-file' %>
        <%= attachment_form.hidden_field :file_cache %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <p><%= f.link_to_add "Adicionar imagem", :attachments %></p>
  </div>

    <div class="form-actions">
      <%= f.submit nil, :value => params[:action] == 'new'? 'Salvar' : 'Salvar alterações', :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', posts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
