<%= nested_form_for @post, :html => { :multipart => true, 	:class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Novo anúncio</legend>

    <div class="control-group">
      <%= f.label :title, "Título", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, "Descrição", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area', :rows => 10 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :price, "Preço", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'text_field' %>
      </div>
    </div>

  <%= f.fields_for :attachments do |attachment_form|  %>
    <div class="control-group">
      <%= attachment_form.label :file, "Arquivo", :class => 'control-label' %>
      <div class="controls">
        <%= attachment_form.file_field :file, :class => 'input-file' %>
      </div>
      <%= attachment_form.link_to_remove "Remover a imagem acima" %>
    </div>
  <% end %>
  
  <div class="control-group">
    <p><%= f.link_to_add "Adicionar imagem", :attachments %></p>
  </div>

    <div class="form-actions">
      <%= f.submit nil, :value => "Criar anúncio", :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', posts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
